@page
@model GameApi.Pages.Account.Logout

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Logout</h1>
    
    <p>Are you sure you want to log out?</p>
    
    <form method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>