@page "/Account/Token"
@model GameApi.Pages.Account.RegisterToken

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Your token registered!</p>
</div>
</body>
</html>